// 
// Base
// --------------------------------------------------
html
  font-size: $font-size-base
  color: $color-text
  background: $color-bg

.clear-fix
  &::after
    content: ''
    display: table
    clear: both