html
  font-size: $font-size-base
  color: $color-text
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  line-height: 1
  background: $color-background