// 
// Mixins
// --------------------------------------------------

// 以下声明是为了写 display: flex 不会弹出警告 https://github.com/stylus/nib/issues/312
flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import '~nib/index'
@import './border.styl'

// bg-image
bg-image($url, $ext = '.png')
  background-image: url($url + '@2x' + $ext)

  @media (min-resolution: 3dppx)
    background-image: url($url + '@3x' + $ext)