// 
// 全局的transition
// --------------------------------------------------
// fade
.v-fade
  &-enter-active
  &-leave-active
    transition: opacity $transition-time

  &-enter
  &-leave-to
    opacity: 0