//
// Variables
// --------------------------------------------------

$white = #fff
$black = #000

$color-text = #333
$color-text-l = #888
$color-text-ll = #a7a7a7
$color-border = #ddd
$color-background = #fff
$color-overlay = rgba(0, 0, 0, .5)

$font-size-large-x = 20px
$font-size-large = 18px
$font-size-base = 16px
$font-size-small = 14px
$font-size-small-s = 12px