//
// Variables
// --------------------------------------------------

//## Color
$white = #fff
$black = #000

$color-text = #333
$color-text-l = #7d7e80
$color-text-ll = #a7a7a7
$color-border = #ddd
$color-bg = #fff
$color-overlay = rgba(0, 0, 0, .6)
$color-link = #1989fa

//## Font
$font-size-large-x = 18px
$font-size-large = 16px
$font-size-base = 14px
$font-size-small = 12px

//## transition-time
$transition-time = .3s

//## width
$width-modal = 85%

//## padding
$padding-base = 10px
$padding-large = 16px

//## borde-radius
$border-radius-base = 5px

//## line-height
$line-height = 24px